[submodule "DebugKit"]
	path = DebugKit
	url = git://github.com/cakephp/debug_kit.git
[submodule "Search"]
	path = Search
	url = git://github.com/CakeDC/search.git
[submodule "Migrations"]
	path = Migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "Utils"]
	path = Utils
	url = git://github.com/wangshijun2010/cakephp-utils.git
[submodule "AssetCompress"]
	path = AssetCompress
	url = git://github.com/markstory/asset_compress.git
[submodule "Comments"]
	path = Comments
	url = git://github.com/wangshijun2010/cakephp-comments.git
[submodule "OAuth"]
	path = OAuth
	url = git@github.com:fegeeks/cakephp-oauth.git
[submodule "Tags"]
	path = Tags
	url = git@github.com:CakeDC/tags.git
